# NOTE: This config file format is still in the draft stages and will likely
# change.
#
# All items in the config should have sane defaults and the
# config is optional.
#
[formatter]

# Valid values: "CSV", "HUMAN", "JSON", "TOML", "YAML"
format = "JSON"

[logger]

# Valid Values: "ERROR", "WARN", "INFO", "DEBUG", or "TRACE"
level = "INFO"

[scanner]
# How long a clone can run before it's canceled
clone_timeout = 0 # 0 means no timeout
# How many clones to run at once
clone_workers = 1
# How deep should the scanner decode encoded values
max_decode_depth = 8 # 0 means no decoding
# Allow scanning into nested archives up to this depth
max_archive_depth = 8 # 0 means no decoding
# How many commits can be scanned
max_scan_depth = 0 # 0 means no max depth.
# How many scans can happen at once
scan_workers = 1
# The full path to where the scanner should store files, clone repos, etc
# for better performance mount a tmpfs at this location
# workdir = "/tmp/leaktk/scanner" # This defaults to ${XDG_CACHE_HOME}/leaktk/scanner
# Include logs at logger level in response
include_response_logs = false
# Allow local scans on listen
allow_local = true

[scanner.patterns]
# Tells the scanner if it can fetch pattenrs or not
autofetch = true
# How long until the scanner refuses to use the cached patterns
expired_after = 604800 # 7 days
# How long until the scanner tries to fetch patterns if autofetch is allowed
refresh_after = 43200 # 12 hours

# Configure the gitleaks patterns. These generally don't need to be tweaked
# unless you have a special use case
# [scanner.patterns.gitleaks]
# config_path = where to store the config
# version = which version of the config to fetch

[scanner.patterns.server]
# This defines the auth bearer token sent to the server.
# auth_token = "<insert auth token here>"
# The following sources will override this setting
#
# 1) LEAKTK_PATTERN_SERVER_AUTH_TOKEN env var
# 2) ~/.config/leaktk/pattern-server-auth-token # set by the login command
# 3) /etc/leaktk/pattern-server-auth-token
#
# If none of the above are defined, no Authorization header is sent to the pattern
# server.

# The URL to a pattern server.
# The path "/patterns/{scanner}/{version}" will be appended to this URL
url = "https://raw.githubusercontent.com/leaktk/patterns/main/target"
# If this value is not set then the following sources will be checked in this order:
#
# 1) LEAKTK_PATTERN_SERVER_URL env var
# 2) Fall back on "https://raw.githubusercontent.com/leaktk/patterns/main/target"
