name: Build, sign and upload release artifacts

env:
  GO_VERSION: '1.22'
  GO111MODULE: on

on:
  push:
    tags:
      - "v[0-1].[0-9]+.[0-9]+"

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  tests:
    uses: ./.github/workflows/testing.yml

  goreleaser:
    name: Create release artifacts
    needs: [ tests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # pin@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # pin@v3
        with:
          registry: quay.io
          username: ${{ vars.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Install Cosign
        uses: sigstore/cosign-installer@d7d6bc7722e3daa8354c50bcb52f4837da5e9b6a # pin@v3
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@90a3faa9d0182683851fbfa97ca1a2cb983bfca3 # pin@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}